$icomoon-font-family: "projektmanager" !default;
$icomoon-font-path: "fonts" !default;

$icon-home: "\e900";
$icon-home2: "\e901";
$icon-home3: "\e902";
$icon-pencil: "\e905";
$icon-pencil2: "\e906";
$icon-quill: "\e907";
$icon-pen: "\e908";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-profile: "\e923";
$icon-stack: "\e92e";
$icon-folder: "\e92f";
$icon-folder-open: "\e930";
$icon-price-tag: "\e935";
$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-pushpin: "\e946";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-history: "\e94d";
$icon-clock: "\e94e";
$icon-clock2: "\e94f";
$icon-alarm: "\e950";
$icon-display: "\e956";
$icon-box-add: "\e95e";
$icon-box-remove: "\e95f";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-undo2: "\e967";
$icon-redo2: "\e968";
$icon-forward: "\e969";
$icon-reply: "\e96a";
$icon-bubble: "\e96b";
$icon-bubbles: "\e96c";
$icon-bubbles2: "\e96d";
$icon-bubble2: "\e96e";
$icon-bubbles3: "\e96f";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-hour-glass: "\e979";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-menu: "\e9bd";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-link: "\e9cb";
$icon-eye: "\e9ce";
$icon-contrast: "\e9d5";
$icon-brightness-contrast: "\e9d6";
$icon-happy: "\e9df";
$icon-smile: "\e9e1";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow-up2: "\ea3a";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down2: "\ea3e";
$icon-arrow-left2: "\ea40";
$icon-embed: "\ea7f";
$icon-embed2: "\ea80";
$icon-share2: "\ea82";
$icon-mail: "\ea83";
$icon-mail2: "\ea84";
$icon-github: "\eab0";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fpx8hy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fpx8hy#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fpx8hy') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fpx8hy') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fpx8hy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-home2 {
  &:before {
    content: $icon-home2;
  }
}
.icon-home3 {
  &:before {
    content: $icon-home3;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-pencil2 {
  &:before {
    content: $icon-pencil2;
  }
}
.icon-quill {
  &:before {
    content: $icon-quill;
  }
}
.icon-pen {
  &:before {
    content: $icon-pen;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-images {
  &:before {
    content: $icon-images;
  }
}
.icon-profile {
  &:before {
    content: $icon-profile;
  }
}
.icon-stack {
  &:before {
    content: $icon-stack;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open;
  }
}
.icon-price-tag {
  &:before {
    content: $icon-price-tag;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-envelop {
  &:before {
    content: $icon-envelop;
  }
}
.icon-pushpin {
  &:before {
    content: $icon-pushpin;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-location2 {
  &:before {
    content: $icon-location2;
  }
}
.icon-compass {
  &:before {
    content: $icon-compass;
  }
}
.icon-history {
  &:before {
    content: $icon-history;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-clock2 {
  &:before {
    content: $icon-clock2;
  }
}
.icon-alarm {
  &:before {
    content: $icon-alarm;
  }
}
.icon-display {
  &:before {
    content: $icon-display;
  }
}
.icon-box-add {
  &:before {
    content: $icon-box-add;
  }
}
.icon-box-remove {
  &:before {
    content: $icon-box-remove;
  }
}
.icon-undo {
  &:before {
    content: $icon-undo;
  }
}
.icon-redo {
  &:before {
    content: $icon-redo;
  }
}
.icon-undo2 {
  &:before {
    content: $icon-undo2;
  }
}
.icon-redo2 {
  &:before {
    content: $icon-redo2;
  }
}
.icon-forward {
  &:before {
    content: $icon-forward;
  }
}
.icon-reply {
  &:before {
    content: $icon-reply;
  }
}
.icon-bubble {
  &:before {
    content: $icon-bubble;
  }
}
.icon-bubbles {
  &:before {
    content: $icon-bubbles;
  }
}
.icon-bubbles2 {
  &:before {
    content: $icon-bubbles2;
  }
}
.icon-bubble2 {
  &:before {
    content: $icon-bubble2;
  }
}
.icon-bubbles3 {
  &:before {
    content: $icon-bubbles3;
  }
}
.icon-bubbles4 {
  &:before {
    content: $icon-bubbles4;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-user-plus {
  &:before {
    content: $icon-user-plus;
  }
}
.icon-user-minus {
  &:before {
    content: $icon-user-minus;
  }
}
.icon-hour-glass {
  &:before {
    content: $icon-hour-glass;
  }
}
.icon-enlarge {
  &:before {
    content: $icon-enlarge;
  }
}
.icon-shrink {
  &:before {
    content: $icon-shrink;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download;
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-contrast {
  &:before {
    content: $icon-contrast;
  }
}
.icon-brightness-contrast {
  &:before {
    content: $icon-brightness-contrast;
  }
}
.icon-happy {
  &:before {
    content: $icon-happy;
  }
}
.icon-smile {
  &:before {
    content: $icon-smile;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-arrow-up2 {
  &:before {
    content: $icon-arrow-up2;
  }
}
.icon-arrow-right2 {
  &:before {
    content: $icon-arrow-right2;
  }
}
.icon-arrow-down2 {
  &:before {
    content: $icon-arrow-down2;
  }
}
.icon-arrow-left2 {
  &:before {
    content: $icon-arrow-left2;
  }
}
.icon-embed {
  &:before {
    content: $icon-embed;
  }
}
.icon-embed2 {
  &:before {
    content: $icon-embed2;
  }
}
.icon-share2 {
  &:before {
    content: $icon-share2;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-mail2 {
  &:before {
    content: $icon-mail2;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}

