$background-color: #fff;
$font-color: #252525;
$box-shadow-color: #464a4d;

$primary-color: #7b2cbf;
$primary-action: #7a60bf;
$primary-dark: #3c096c;

$transition-time: 0.2s;

$projekt-item1-color: #9d4edd;
$projekt-item2-color: #5a189a;